{% extends 'base.html' %}
{% block body %}
<h2>Hill encode/decode testing</h2>
<style>





</style>
<form action="/Hill" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Message :</label>
        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" name="text"
            placeholder="Enter your text here">
        <br><br>
        <label for="exampleFormControlShift" class="form-label">Key Matrix (2x2):</label>
        <br>
        <input type="text" class="form-control form-control-lg" id="0" name="0">
        <input type="text" class="form-control form-control-lg" id="1" name="1">
        <br>
        <input type="text" class="form-control form-control-lg" id="2" name="2">
        <input type="text" class="form-control form-control-lg" id="3" name="3">
        <br><br>
    </div>
    <input type="submit" class="btn btn-primary mb-3" name="encrypt" value="Encrypt">
    <input type="submit" class="btn btn-primary mb-3" name="decrypt" value="Decrypt">
</form>
<br>
<label for="exampleFormControlOutput1" class="form-label">Output :</label>
<textarea id="textbox" name="textbox" rows="10" cols="50" spellcheck="false">{% if output is defined %}{{output}}{% endif %}
 </textarea>

{% endblock body %}