{% extends 'base.html' %}
{% block body %}
<h2>Hill encode/decode testing</h2>
<style>
    h2 {
        font-size: 25px;
        text-align: center;
        color: white;
        background-color: #212F3C;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container1{

        width: 500px;
        height: 200px;
        border-radius: 7px;
        margin: 50px;
        align-items: center;
        text-align: center;
        padding-top: 50px;
        border: 1px solid #ccc;
        background-color: #212F3C;
    }
    .textbox {
        width: 250px;
        height: 50px;
        padding: 10px;
        font-size: 16px;
        flex-direction: column;
        text-align: center;
        resize: none;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #212F3C;
    }




</style>
<form action="/Hill" method="post">
    <div class="mb-3">
        <div class="container1">
            <label for="exampleFormControlInput1" class="form-label">Message :</label>
             <input type="text" class="textbox" id="exampleFormControlInput1" name="text"
                placeholder="Enter your text here">
                <br><br>
        </div>
        <label for="exampleFormControlShift" class="form-label">Key Matrix (2x2):</label>
        <br>
        <input type="text" class="form-control form-control-lg" id="0" name="0">
        <input type="text" class="form-control form-control-lg" id="1" name="1">
        <br>
        <input type="text" class="form-control form-control-lg" id="2" name="2">
        <input type="text" class="form-control form-control-lg" id="3" name="3">
        <br><br>
    </div>
    <input type="submit" class="btn btn-primary mb-3" name="encrypt" value="Encrypt">
    <input type="submit" class="btn btn-primary mb-3" name="decrypt" value="Decrypt">
</form>
<br>
<label for="exampleFormControlOutput1" class="form-label">Output :</label>
<textarea id="textbox" name="textbox" rows="10" cols="50" spellcheck="false">{% if output is defined %}{{output}}{% endif %}
 </textarea>

{% endblock body %}