{% extends 'base.html' %}
{% block body %}
<h2>MD5 Decode</h2>
<style>
    h2{
        text-align: center;
        color: white;
        background-color: #212F3C;
    }
    form{
            background-color: #070c13;
        }
        body{
            background-color: #070c13;

        }
        .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50vh;
            }
            .textbox {
                width: 300px;
                height: 200px;
                padding: 10px;
                font-size: 16px;
                text-align:center;
                resize: none;
                border: 1px solid #ccc;
                background-color: #212F3C ;
            }
            .buttons {
                width: 300px;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* justify-content: space-between; */
    
            }
            .button {
                padding: 10px;
                /* padding-left: 10px; */
                font-size: 16px;
                background-color: rgba(3, 201, 13, 0.801);
                color: white;
                border: none;
                cursor: pointer;
                margin-bottom: 50px;
            }
    
</style>

<form action="/md5" method="post">
    <!-- <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Input :</label>
        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" name="text"
            placeholder="Enter your text here">
    </div>
    <input type="submit" class="btn btn-primary mb-3" name="encrypt" value="Encrypt">
    <input type="submit" class="btn btn-primary mb-3" name="decrypt" value="Decrypt">
</form>
<br> -->

<div class="container">
    <input type="text" class="textbox"  
           name="text" placeholder="Enter your text here">

<div class="buttons">
<input type="submit" class="button" name="encrypt" value="Encrypt">
<input type="submit" class="button" name="decrypt" value="Decrypt">
</div>
</form>
<br>

<label for="exampleFormControlOutput1" class="form-label">Output :</label>
<textarea class="textbox" id="textbox" name="textbox" rows="10" cols="50" spellcheck="false">
        {% if output is defined %}
            {{output}}
            {% endif %}
        </textarea>
    </div>
{% endblock body %}
   
</body>